<!DOCTYPE html>
<html>
<head>
	<title>Exercise 02.01.14 Sample 1</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/css.css">

	<style type="text/css" media="screen">
		* {
			font-family: Calibri;
		}
		video {
			width: 320px;
			height: auto;
		}
	</style>
</head>
<body>
	<h1>HTML Video</h1>
	<video controls>
		<source src="../media/video/bbb_video.mp4" type="video/mp4">
		<source src="../media/video/bbb_video.ogv" type="video/ogg">
			Your browser doesn't support video, please update or use another one.
	</video>

</body>
</html>
