<!DOCTYPE html>
<html>
<head>
	<title>Exercise 02.01.14 Sample 2</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/css.css">

	<style type="text/css" media="screen">
		* {
			font-family: Calibri;
		}
	</style>
</head>
<body>
	<h1>HTML Audio</h1>
	<audio controls>
		<source src="../media/audio/bbb_audio.mp3" type="audio/mp3">
		<source src="../media/audio/bbb_audio.ogg" type="audio/ogg">
			Your browser doesn't support audio, please update or use another one.
	</audio>

</body>
</html>
