<!DOCTYPE html>
<html>
<head>
	<title>Exercise 02.01.12 Sample 2</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/css.css">

	<style type="text/css" media="screen">
		* {
			font-family: Calibri;
		}
		iframe {
			display: block;
			margin: 0 auto;
		}
	</style>
</head>
<body>
	<h1>&lt;iframe&gt; Element Usage</h1>
	<div>
		<iframe src="../views/sample-1.html" name="iframe_name" height="500" width="90%"></iframe>
	</div>
</body>
</html>
