<!DOCTYPE html>
<html>
<head>
	<title>Exercise 02.01.12 Sample 1</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/css.css">

	<style type="text/css" media="screen">
		* {
			font-family: Calibri;
		}
		#customId {
			background-color: lightblue;
			color: chocolate;
			padding: 40px;
			text-align: center;
		}
		.customClass {
			background-color: tomato;
			color: white;
			padding: 40px;
		}
	</style>
</head>
<body>
	<h1>"id" & "class" attributes differences</h1>

	<p id="c2">
		<a href="#c1">Jump in where document ends</a>
	</p>
	<h2>The "id" attribute specifies an unique reference for some HTML Element </h2>
	<p class="customClass">The "class" attribute, is used to define similar styles for elements with the very same "class" name attribute.</p>
	<p class="customClass">The "class" attribute, can be used on any element.</p>

	<div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	</div>

	<p id="c1">End of Document</p>
	<p>
		<a href="#c2">Jump in where document starts</a>
	</p>
</body>
</html>
