<!DOCTYPE html>
<html>
<head>
	<title>Exercise 02.01.13 Sample 1</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/css.css">

	<style type="text/css" media="screen">
		* {
			font-family: Calibri;
		}
		.tl {
			text-align: left;
			background-color: #E34F26;
			color: white;
			padding: 10px;
		}
		.tr {
			text-align: right;
			background-color: #264de4;
			color: white;
			padding: 10px;
		}
		.fl {
			width: 45%;
			height: auto;
			float: left;
		}
		.fr {
			width: 45%;
			height: auto;
			float: right;
		}
		.cf {
			display: block;
			position: relative;
			clear: both;
		}
	</style>
</head>
<body>
	<h1>Main Page Title</h1>
	<p>My First Image</p>
	<span class="cf"></span>
	<img src="../imgs/logos/JavaScript-logo.pngg" alt="This text will be shown, if image is not found">

	<hr>
	<span class="cf"></span>
	<p class="fl tl">Floating Left Image</p>
	<p class="fr tr">Floating Right Image</p>
	<span class="cf"></span>
	<img class="fl" src="../imgs/logos/HTML5_Badge.svg" alt="Floating Left" style="">
	<img class="fr" src="../imgs/logos/CSS3_logo.svg" alt="Floating Right" style="">
</body>
</html>
